.features {
    overflow-x: hidden;
    margin-bottom: 200px;

    // &__list {
    // }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item:not(:last-child){
        margin-bottom: 160px;
    }

    &__item:nth-child(even) &__img-wrapper{
        order: 1;
    }


    &__img-wrapper {
        position: relative;

        &::before{
            content: "";
            display: inline-block;
            position: absolute;
            width: 741px;
            height: 151px;
            background-image: url("./../../images/arrow-right.svg");
            background-repeat: no-repeat;
            top: 0;
            left: 0;
            transform: translateX(-550px);
        }

        &::after{
            content: "";
            display: inline-block;
            position: absolute;
            width: 445px;
            height: 445px;
            background-color: $light-grey;
            border-radius: 50%;
            top: 0;
            left: 0;
            transform: translateX(-509px);
            z-index: -1;
        }
    }

    &__item:nth-child(even) &__img-wrapper{
        &::before{
            background-image: url("./../../images/arrow-left.svg");
            right: 0;
            transform: translate(250px, 85px);
        }

        &::after{
            top: 0;
            left: 0;
            transform: translateX(509px);
            z-index: -1;
        }
    }

    &__img{
        border-radius: 50%;
    }

    &__box {
        max-width: 445px;
        width: 100%;
    }

    &__heading {
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: $dark-navy;
        margin-bottom: 24px;
    }

    &__text {
        font-size: 15px;
        line-height: 25px;
        color: $dim-grey;
        margin-bottom: 40px;
    }

    &__link {
        text-decoration: none;
        border: 3px solid $yellow;
        background-color: $yellow;
        color: #fff;
        padding: 11px 20px;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        min-width: 180px;
        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover{
            color: #FCB72B;
            background-color: $white;
        }

        &:active{
            opacity: 0.7;
        }
    }
}

// .link {
// }
