.footer {
    background-color: #333A44;
    padding-top: 35px;
    padding-bottom: 35px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__wrapper {
        max-width: 417px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-link{
        display: inline-block;
    }

    &__logo-img{
        width: 108px;
        height: 28px;
    }

    // &__nav {
    // }

    &__nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // &__nav-item {
    // }

    &__nav-item + &__nav-item {
        margin-left: 32px;
    }

    &__nav-link {
        text-decoration: none;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
        transition: all 0.2s ease-in-out;

        &:hover{
            color: #FCB72B;
        }
    }

    &__sotsial-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // &__sotsial-item {
    // }

    &__sotsial-item + &__sotsial-item {
        margin-left: 24px;
    }

    &__sotsial-img {
        width: 24px;
        height: 24px;
        object-fit: contain;
        &:hover{
            transform: scale(1.2);
            path{
                fill: white;
            }
        }
    }
}


// mobile devices
.footer{
    @media only screen and (max-width :730px ) {
        padding-top: 64px;
        padding-bottom: 88px;

        &__container {
            display: flex;
            flex-direction: column;
            justify-content: start;
        }

        &__wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
        }

        &__logo-link{
            margin-bottom: 41px;
        }


        &__nav-list {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 85px;
        }

        &__nav-item + &__nav-item {
            margin-left: 0;
            margin-top: 16px;
        }


        &__sotsial-item + &__sotsial-item {
            margin-left: 24px;
        }

    }

}