.header {
    box-shadow: 0 1px 7px rgb(216, 216, 216);
    padding: 22px 0;
    position: fixed;
    width: 100vw;
    z-index: 999;
    background-color: $white;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 415px;
        width: 100%;
    }

    &__logo-link {
        text-decoration: none;
    }

    &__logo-img {
        display: inline-block;
    }

    &__nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav-item + &__nav-item {
        margin-left: 32px;
    }

    &__nav-link {
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        color: $dim-grey;
        transition: all 0.2s ease-in-out;

        &:hover{
            color: $yellow;
        }
    }

    &__nav-link__active{
        box-shadow: 0 1px $yellow;
    }

    &__nav-btn{
        display: none;
    }

    &__button{
        border: 3px solid $yellow;
        background-color: $yellow;
        color: #fff;
        padding: 11px 20px;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        min-width: 180px;
        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover{
            color: #FCB72B;
            background-color: $white;
        }

        &:active{
            opacity: 0.7;
        }
    }

    &__btn {
        border: none;
        background: none;
        display: none;
    }

    &__burger-img {
        display: inline-block;
        width: 20px;
        height: 16px;
        object-fit: contain;
    }

    &__close-img{
        display: none;
        width: 18px;
        height: 18px;
        object-fit: contain;
    }
}

@media only screen and (max-width:730px) {
    .header {
        &__logo-link {
            position: absolute;
            left: calc(50%);
            transform: translateX(-38px);
        }

        &__nav {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: #00000080;
            display: none;
        }

        &--active &__nav{
            display: block;
        }

        &__nav-list {
            background-color: #333A44;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            padding: 64px 32px;
            max-width: 256px;
            height: 100%;
        }

        &__nav-item + &__nav-item{
            margin-left: 0;
            margin-top: 32px;
        }

        &__nav-link {
            font-size: 18px;
            line-height: 25px;
            color: $light-grey;
        }

        &__button-off {
            position: absolute;
            bottom: 0;
            transform: translateY(526px);
            left: 32px;
            display: none;
        }

        &--active &__button{
            display: inline-block;
        }

        &__btn {
            display: inline-block;
            position: absolute;
            left: 20px;
        }

        &--active &__burger-img {
            display: none;
        }

        &--active &__close-img {
            display: inline-block;
        }
    }
}
