.nthchild{
    margin-bottom: 178px;
    &__item:nth-child(odd) .use__right-side{
        order: -1;
    }
}


.nthchild{
    margin-bottom: 178px;
    &__item:nth-child(odd){
        .use {
            margin-bottom: 155px;
            // overflow-x: hidden;

            &__container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &__left-side {
                max-width: 445px;
            }

            &__heading {
                font-weight: bold;
                font-size: 48px;
                line-height: 48px;
                letter-spacing: -2.14286px;
                color: $dark-navy;
                margin-bottom: 24px;
            }

            &__text {
                font-size: 15px;
                line-height: 25px;
                color: $dim-grey;
                margin-bottom: 40px;
            }


            &__right-side {
                position: relative;

                &::before{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    width: 740px;
                    height: 150px;
                    background-image: url("./../../images/teskari.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    object-position: contain;
                    bottom: 0;
                    right: 0;
                    transform: translate(-280px, -260px);
                }


                &::after{
                    content: "";
                    display: inline-block;
                    width: 445px;
                    height: 445px;
                    position: absolute;
                    background-image: url("./../../images/use-circle.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    object-position: contain;
                    left: 100%;
                    transform: translateX(-1000px);
                    z-index: -1;
                }
            }

            &__img {
                border-radius: 50%;
                max-width: 445px;
                height: auto;
            }
        }


        // tablet devisec --------------------------------------------------------------------
        .use{
            @media only screen and (max-width :1040px ){
                margin-bottom: 128px;

                &__container {
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    align-items: center;
                }

                &__left-side {
                    max-width: 573px;
                    width: 100%;
                    margin-bottom: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    margin-top: 128px;
                }

                &__heading {
                    font-size: 48px;
                    line-height: 48px;
                    letter-spacing: -2.14286px;
                    margin-bottom: 40px;
                }

                &__text {
                    margin-bottom: 40px;
                }
            }

        }



        // mobile devices -----------------------------------------
        .use{
            @media only screen and (max-width :730px ){
                overflow-x: hidden;
                margin-bottom: 128px;
                overflow-x: hidden;
                &__container {
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    align-items: center;
                }

                &__left-side {
                    max-width: 573px;
                    width: 100%;
                    margin-bottom: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    margin-top: 128px;
                }

                &__heading {
                    font-size: 32px;
                    line-height: 32px;
                    letter-spacing: -1.42857px;
                    margin-bottom: 32;
                }

                &__text {
                    margin-bottom: 32px;
                }

                &__right-side {
                    position: relative;
                    border-radius: 50%;

                    &::before{
                        transform: translateX(58%);
                    }

                    &::after{
                        display: none;
                    }
                }

                &__img {
                    border-radius: 50%;
                    max-width: 311px;
                    height: auto;
                }
            }

        }
    }
}